{{ define "main" }}
<div class="home">

  {{ .Content }}

  <h1 class="page-heading">Posts</h1>
  
  <ul class="post-list">
    {{ range first 10 (where .Site.RegularPages "Section" "posts" ) }}
      <li>
        <h2>
          <a class="post-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h2>
        <span class="post-meta">{{ partial "date.html" .Date }}</span>

      </li>
    {{ end }}
  </ul>

    {{/* 
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" }}">via RSS</a></p>
*/}}

</div>
{{ end }}